node-red/flows.json
[
  {
    "id": "7efb7b5eb760eac8",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "9d112f94fb8b8dec",
    "type": "mqtt in",
    "z": "7efb7b5eb760eac8",
    "name": "",
    "topic": "iot/supanat-p/esp32-electrical-protect/telemetry",
    "qos": "0",
    "datatype": "auto-detect",
    "broker": "eb54a6af4e67beed",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 200,
    "y": 100,
    "wires": [["4ac3436abd936a6c"]]
  },
  {
    "id": "c90d8f013b3df15b",
    "type": "debug",
    "z": "7efb7b5eb760eac8",
    "name": "Debug Out",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 870,
    "y": 180,
    "wires": []
  },
  {
    "id": "d414a41e29557064",
    "type": "mqtt in",
    "z": "7efb7b5eb760eac8",
    "name": "",
    "topic": "iot/supanat-p/esp32-electrical-protect/alert",
    "qos": "0",
    "datatype": "auto-detect",
    "broker": "eb54a6af4e67beed",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 200,
    "y": 300,
    "wires": [["2fc37248acba10d7"]]
  },
  {
    "id": "4cc80f84fcdfb86c",
    "type": "debug",
    "z": "7efb7b5eb760eac8",
    "name": "Debug Alert",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 770,
    "y": 400,
    "wires": []
  },
  {
    "id": "602727266394be0d",
    "type": "inject",
    "z": "7efb7b5eb760eac8",
    "name": "RESET",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "RESET",
    "payloadType": "str",
    "x": 110,
    "y": 380,
    "wires": [["04b62618e89ab8aa"]]
  },
  {
    "id": "04b62618e89ab8aa",
    "type": "mqtt out",
    "z": "7efb7b5eb760eac8",
    "name": "",
    "topic": "iot/supanat-p/esp32-electrical-protect/command",
    "qos": "0",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "eb54a6af4e67beed",
    "x": 420,
    "y": 380,
    "wires": []
  },
  {
    "id": "4ac3436abd936a6c",
    "type": "json",
    "z": "7efb7b5eb760eac8",
    "name": "Parse JSON",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 490,
    "y": 100,
    "wires": [["585e5b7c3807a805"]]
  },
  {
    "id": "2fc37248acba10d7",
    "type": "json",
    "z": "7efb7b5eb760eac8",
    "name": "Parse JSON",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 490,
    "y": 300,
    "wires": [["27e22950b81c994e"]]
  },
  {
    "id": "585e5b7c3807a805",
    "type": "function",
    "z": "7efb7b5eb760eac8",
    "name": "format payload",
    "func": "const data = msg.payload\n\nmsg.payload = [\n  {\n    // Fields — numeric and string values to store\n    load_pct: data.load_pct,\n    temp_c:   data.temp_c,\n    state:    data.state,\n    relay:    data.relay === \"NORMAL(ON)\" ? 1 : 0\n  },\n  {\n    // Tags — indexed metadata for filtering\n    device: \"electrical-protection1\"\n  }\n  // InfluxDB automatically adds server-side timestamp\n];\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 680,
    "y": 100,
    "wires": [["ede9823fbc825acf", "c90d8f013b3df15b"]]
  },
  {
    "id": "ede9823fbc825acf",
    "type": "influxdb out",
    "z": "7efb7b5eb760eac8",
    "influxdb": "1f059e7e76a97d83",
    "name": "InfluxDB Out",
    "measurement": "telemetry",
    "precision": "",
    "retentionPolicy": "",
    "database": "database",
    "precisionV18FluxV20": "ms",
    "retentionPolicyV18Flux": "",
    "org": "iot-supanat",
    "bucket": "electrical_protection",
    "x": 870,
    "y": 100,
    "wires": []
  },
  {
    "id": "27e22950b81c994e",
    "type": "function",
    "z": "7efb7b5eb760eac8",
    "name": "format payload",
    "func": "const data = msg.payload\n\nmsg.payload = [\n  {\n    // Fields — numeric and string values to store\n    alert: data.alert,\n    state: data.state,\n    previous_state: data.previous_state,\n    },\n  {\n    // Tags — indexed metadata for filtering\n    device: \"electrical-protection1\"\n  }\n  // InfluxDB automatically adds server-side timestamp\n];\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 700,
    "y": 300,
    "wires": [["3d4865031fd8554d", "4cc80f84fcdfb86c"]]
  },
  {
    "id": "3d4865031fd8554d",
    "type": "influxdb out",
    "z": "7efb7b5eb760eac8",
    "influxdb": "1f059e7e76a97d83",
    "name": "InfluxDB Alert",
    "measurement": "alert",
    "precision": "",
    "retentionPolicy": "",
    "database": "database",
    "precisionV18FluxV20": "ms",
    "retentionPolicyV18Flux": "",
    "org": "iot-supanat",
    "bucket": "electrical_protection",
    "x": 900,
    "y": 300,
    "wires": []
  },
  {
    "id": "eb54a6af4e67beed",
    "type": "mqtt-broker",
    "name": "HiveMQ Cloud",
    "broker": "cc4de1ff17b64436a3537d3ab69baad9.s1.eu.hivemq.cloud",
    "port": "8883",
    "tls": "",
    "clientid": "",
    "autoConnect": true,
    "usetls": true,
    "protocolVersion": 4,
    "keepalive": 60,
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "1f059e7e76a97d83",
    "type": "influxdb",
    "hostname": "127.0.0.1",
    "port": 8086,
    "protocol": "http",
    "database": "database",
    "name": "influxDB",
    "usetls": false,
    "tls": "",
    "influxdbVersion": "2.0",
    "url": "http://localhost:8086",
    "timeout": 10,
    "rejectUnauthorized": true
  },
  {
    "id": "93120534977c7b6e",
    "type": "global-config",
    "env": [],
    "modules": {
      "node-red-contrib-influxdb": "0.7.0"
    }
  }
]
